html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Microsoft YaHei", sans-serif;
  background: url(../imgs/bg.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
input {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}
::-moz-placeholder {
  color: #fff;
}
::-webkit-input-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
.container {
  display: block;
  width: 10rem;
  height: 100%;
}
.envelope {
  width: 10rem;
  height: 6.05333333rem;
  background: url(../imgs/envelope_bg.png) no-repeat;
  background-size: 100% 100%;
}
.envelope .envelope-top {
  position: absolute;
  top: -10rem;
  -webkit-transition: all 1s ease-in-out;
  left: 0.66666667rem;
  width: 8.66666667rem;
  height: 1.86666667rem;
  z-index: 3;
}
.envelope .envelope-top img {
  width: 8.66666667rem;
  height: 1.86666667rem;
}
.envelope .paper {
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  top: -10rem;
  left: 0.96rem;
  width: 8.08rem;
  height: 5.33333333rem;
  z-index: 2;
}
.envelope .paper img {
  width: 8.08rem;
  height: 5.33333333rem;
}
.envelope .envelope-bottom {
  position: absolute;
  top: 0.21333333rem;
  left: 0.66666667rem;
  width: 8.66666667rem;
  height: 3.02666667rem;
  z-index: 1;
}
.envelope .envelope-bottom img {
  width: 8.66666667rem;
  height: 3.02666667rem;
}
.sign-in {
  -webkit-transition: all 1s ease-in-out;
  margin: 0 auto;
  margin-top: 10.82666667rem;
  width: 8rem;
  height: 3.97333333rem;
  border: 0.04rem solid #bf9d5e;
  background: #626f76;
  opacity: 0.7;
}
.sign-in input {
  display: block;
  margin-left: 0.62666667rem;
  height: 1.97333333rem;
  line-height: 1.98666667rem;
  font-size: 0.48rem;
  background: transparent;
  color: #fff;
}
.sign-in .name {
  float: left;
  width: 4.76rem;
}
.sign-in .obtain {
  float: right;
  margin: 0.58666667rem 0.62666667rem 0 0;
  width: 1.90666667rem;
  height: 0.69333333rem;
  line-height: 0.69333333rem;
  border: 0.04rem solid #d4ab37;
  color: #cbae5a;
  text-align: center;
  font-size: 0.26666667rem;
}
.sign-in .line {
  float: left;
  margin-left: 0.30666667rem;
  width: 7.38666667rem;
  height: 0.02666667rem;
  background: url(../imgs/line.png) no-repeat;
  background-size: 100% 100%;
}
.next {
  margin: 0 auto;
  margin-top: 1.48rem;
  width: 8.08rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  color: #fff;
  font-size: 0.53333333rem;
  background-color: #c7a464;
}
.shadow {
  margin: 0 auto;
  width: 8.08rem;
  height: 1.6rem;
}
.shadow img {
  width: 8.08rem;
  height: 1.6rem;
}
.coupon {
  display: none;
  margin: 0 auto;
  margin-top: 0.66666667rem;
  width: 9.10666667rem;
  height: 15.12rem;
}
.coupon .coupon-box {
  position: relative;
  width: 9.10666667rem;
  height: 15.12rem;
  z-index: 1;
}
.coupon .coupon-box img {
  width: 9.10666667rem;
  height: 15.12rem;
}
.coupon .get {
  position: relative;
  margin: 0 auto;
  margin-top: -1.81333333rem;
  width: 7.76rem;
  height: 1.10666667rem;
  border: 2px solid #ffe291;
  line-height: 1.10666667rem;
  background-color: #bf9d5e;
  font-size: 0.42666667rem;
  color: #fff;
  text-align: center;
  z-index: 2;
}
.success {
  display: none;
  margin: 0 auto;
  margin-top: 2.96rem;
  width: 8.08rem;
  height: 7.82666667rem;
}
.success img {
  width: 8.08rem;
  height: 7.82666667rem;
}
